dotenv_if_exists .env       
export ENV=${ENV:-development} 
export PAYMENT_URL=${PAYMENT_URL:-payment:9090}
export OTEL_TRACES_EXPORTER=${OTEL_TRACES_EXPORTER:-otlp}
export OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-localhost:4317}