.env
*.env
env/*.env
!.env.example
!env/*.example
.direnv/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.coverprofile
coverage/
bin/
dist/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.key
*.pem
*.crt
*.pfx
